img {

}
.main {
  font-size: 20px;
}
#cook-time {
  font-weght: bold;
}
li ingrendients {
 
}
p .time {
  color: gray;
}
external-link {
  color: seaGreen;
}
font-family {
  faont-family: Helvetica;
}
